

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: "Noto Sans Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background-color: owhite;
}

.desktop-only {
    display: none;
}

#header-logo {
    display: block;
    margin: 200px auto;
    margin-bottom: 100px;
    width: 200px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/*********LOGIN*********/
#login {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(238, 235, 229);
    opacity: 0;
    animation: fadeIn 1s ease-in 1s forwards;
}

#login h2 {
    color: rgb(63, 63, 63);
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-input, #signin {
    display: block;
    width: 325px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 228);
    font-size: 16px;
}

#login-password {
    margin-top: 10px;
    margin-bottom: 20px;
}

#signin {
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid rgb(44, 44, 44);
    color: white;
    background-color: rgb(63, 63, 63);
}